@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <style>
        .main-page-navbar {
            width: 1900px;
            height: 105px;
            display: flex;
            padding: 2em;
            max-width: 1500px;
            align-items: center;
            flex-direction: row;
        }
    </style>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        //all in one line 
        <div style= "display: flex; flex-direction: row; align-items: center; " >
            @Html.AntiForgeryToken()
            <div class="button-container ">
                <button class="button-inner">@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })</button>
            </div>
            <div class="button-container ">
                <button class="button-inner"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></button>
            </div>
        </div>
    }
}
else
{
    <div class="button-container ">
        <button class="button-inner">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</button>
    </div>
    <div class="button-container ">
        <button class="button-inner">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</button>
    </div>
}
