:root {
    --dl-color-gray-500: #595959;
    --dl-color-gray-700: #999999;
    --dl-color-gray-900: #D9D9D9;
    --dl-size-size-unit: 1rem;
    --dl-color-gray-black: #000000;
    --dl-color-gray-white: #FFFFFF;
    --dl-space-space-unit: 1em;
    --dl-color-primary-100: #370511ff;
    --dl-color-primary-500: #643843ff;
    --dl-color-primary-700: #775860ff;
    --dl-size-size-halfunit: 0.5rem;
    --dl-radius-radius-round: 50%;
    --dl-size-size-doubleunit: 2rem;
    --dl-size-size-tripleunit: 3rem;
    --dl-space-space-halfunit: 0.5em;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-quadruple: 4em;
    --dl-space-space-doubleunit: 2em;
    --dl-space-space-tripleunit: 3em;
}
html {
    font-family: Poppins;
    font-size: 16px;
    line-height: 1.15;
}


* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

p, li, ul, pre, div, h1, h2, h3, h4, h5, h6, figure, blockquote, figcaption {
    margin: 0;
    padding: 0;
}




a {
    color: inherit;
    text-decoration: inherit;
}

input {
    padding: 2px 4px;
}

img {
    display: block;
}

html {
    scroll-behavior: smooth
}
body {
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.55;
    color: var(--dl-color-gray-black);
    background-color: var(--dl-color-gray-white);
    margin: 0;
}
.teleport-show {
    display: flex !important;
    transform: none !important;
}
.button {
    color: var(--dl-color-gray-black);
    display: inline-block;
    padding: 0.5rem 1rem;
    font-family: Poppins;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
}
.list-item {
    display: list-item;
}
.list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
}
.textarea {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem;
    font-family: Poppins;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
}
.input {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem 1rem;
    font-family: Poppins;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
}
.Subheading {
    font-size: 1.6rem;
    font-family: Poppins;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
}
.Heading {
    font-size: 3rem;
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
}
.Button {
    font-size: 14px;
    font-family: Poppins;
    font-weight: 600;
    text-transform: none;
    text-decoration: none;
}
.Content {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
}

.solid-button-container {
    display: flex;
    position: relative;
}
.solid-button-button {
    color: var(--dl-color-gray-white);
    border: none;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-doubleunit);
    border-radius: 50px;
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-primary-100);
}
.solid-button-root-class-name {
    flex: 1;
    width: auto;
}
.solid-button-root-class-name1 {
    width: auto;
}

.landing-page-container {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}
.landing-page-top-container {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-image: url('resources/main_page_background.jpg');
    background-position: 0% 40%;
}
.landing-page-navbar {
    width: 1200px;
    height: 105px;
    display: flex;
    padding: var(--dl-space-space-doubleunit);
    max-width: 1000px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.landing-page-right-side {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.landing-page-links-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.landing-page-text {
    margin-right: var(--dl-space-space-doubleunit);
}
.landing-page-text01 {
    margin-right: var(--dl-space-space-doubleunit);
}
.landing-page-text02 {
    margin-right: var(--dl-space-space-doubleunit);
}
.landing-page-burger-menu {
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.landing-page-burger-menu1 {
    width: 24px;
    height: 24px;
}
.landing-page-mobile-menu {
    top: 0px;
    flex: 0 0 auto;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    padding: var(--dl-space-space-doubleunit);
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}
.landing-page-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.landing-page-top {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: row;
    justify-content: space-between;
}
.landing-page-close-menu {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.landing-page-icon03 {
    width: 24px;
    height: 24px;
}
.landing-page-right-side1 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.landing-page-links-container1 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    flex-direction: column;
    justify-content: space-between;
}
.landing-page-text03 {
    margin-bottom: 8px;
}
.landing-page-text04 {
    margin-bottom: 8px;
}
.landing-page-text05 {
    margin-bottom: 8px;
}
.landing-page-follow-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.landing-page-text07 {
    padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-icons-container {
    width: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}
.landing-page-link {
    display: contents;
}
.landing-page-icon05 {
    width: 24px;
    height: 24px;
}
.landing-page-link1 {
    display: contents;
}
.landing-page-icon07 {
    width: 24px;
    height: 24px;
}
.landing-page-link2 {
    display: contents;
}
.landing-page-icon09 {
    width: 24px;
    height: 24px;
}
.landing-page-hero {
    flex: 1;
    width: 100%;
    display: flex;
    max-width: 1000px;
    align-items: center;
    padding-top: var(--dl-space-space-tripleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
}
.landing-page-content-container {
    width: 550px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.landing-page-text09 {
    padding-top: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
}
@media(max-width: 991px) {
    .landing-page-hero {
        padding-left: var(--dl-space-space-tripleunit);
        padding-right: var(--dl-space-space-tripleunit);
    }
}
@media(max-width: 767px) {
    .landing-page-right-side {
        display: none;
    }
    .landing-page-burger-menu {
        display: flex;
    }
    .landing-page-hero {
        justify-content: center;
    }
    .landing-page-content-container {
        align-items: center;
    }
    .landing-page-text08 {
        font-size: 2.5rem;
    }
    .landing-page-text09 {
        text-align: center;
    }
}
@media(max-width: 479px) {
    .landing-page-text08 {
        font-size: 2rem;
        text-align: center;
    }
    .landing-page-subheading {
        font-size: 1.3rem;
        text-align: center;
    }
}
