body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px 5px 0 0;
}

#header_c {
    border: 3px solid black;
    background-color: aqua;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px 5px 0 0;
    margin-bottom:20px;
}

.footer {
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 0 0 5px 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.logo {

    width: 100%;    
    height: 50px;

    font-style: bold;
    font-size: 45px;
}

.logo img {
    height: 50px;
}

.login-button {
    float: right;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0069d9;
}

.login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.login-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.login-popup-close:hover {
    background-color: #f2f2f2;
}



#contactUs{
    float:right;
}
#rightLayer{
    width:50%;
    height:90%;
    float:right;
    background-color: coral;
    border:3px solid black;
}
.homebutton{
    float:right;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}