@{
    Layout = null;
 }


<!DOCTYPE html>
<html lang="en">

<head>
    <title>Main Page - Hospital Appointment</title>
    <link rel="stylesheet" href="~/Content/style.css">
</head>

<body>
    <div class="main-page-container">
        <div class="    out-us-top-page-top-container">
            <nav data-role="Header" class="main-page-navbar">
                <div class="main-page-left-side">
                    <h1>Terra Europe Hospital </h1>
                </div>
                <div class="main-page-right-side">
                    <div class="main-page-links-container">

                        <span class="main-page-text"><a href="main_page.html">Home</a></span>
                        <div data-thq="thq-dropdown" class="home-thq-dropdown list-item">
                            <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-main">
                                <span class="home-text">Departments</span>
                                <div data-thq="thq-dropdown-arrow" class="home-dropdown-arrow">
                                    <svg viewBox="0 0 1024 1024" class="home-icon">
                                        <path d="M426 726v-428l214 214z"></path>
                                    </svg>
                                </div>
                            </div>
                            <ul data-thq="thq-dropdown-list" class="home-dropdown-list">
                                <li data-thq="thq-dropdown" class="home-dropdown list-item">
                                    <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-option">
                                        <span class="home-text">Cardiology</span>
                                    </div>
                                </li>
                                <li data-thq="thq-dropdown" class="home-dropdown list-item">
                                    <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-option">
                                        <span class="home-text">Orthopedics</span>
                                    </div>
                                </li>
                                <li data-thq="thq-dropdown" class="home-dropdown list-item">
                                    <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-option">
                                        <span class="home-text">Obstetrics and Gynecology</span>
                                    </div>
                                </li>
                                <li data-thq="thq-dropdown" class="home-dropdown list-item">
                                    <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-option">
                                        <span class="home-text">Dermatology</span>
                                    </div>
                                </li>
                                <li data-thq="thq-dropdown" class="home-dropdown list-item">
                                    <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-option">
                                        <span class="home-text">Neurology</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <span class="main-page-text"> <a href="about_us.html">About Us</a></span>
                        <span class="main-page-text"> <a href="contact_us.html">Contact Us</a></span>
                    </div>
                    <div class="button-container ">
                        <button class="button-inner">
                            <span>Sign up</span>
                        </button>
                    </div>
                    <div class="button-container ">
                        <button class="button-inner">
                            <span>Sign in</span>
                        </button>
                    </div>
                </div>

            </nav>

            <div class="main-page-middle">
                <div class="main-page-text-container">
                    <h1 class="Heading main-page-text08">About Us</h1>
                    <span class="main-page-text">
                        <span>
                            At Europa Universalis, we are dedicated to providing compassionate, high-quality
                            healthcare to our community. We are a team of experienced and dedicated professionals who
                            are committed to making a difference in the lives of our patients.
                        </span>
                        <br /><span>
                            We offer a wide range of services to meet the needs of our patients,
                            including:
                        </span><br />
                        <ul>
                            <li>Emergency Services</li>
                            <li>Health Packages</li>
                            <li>Patient Care Excellence</li>
                            <li>Wellness Programs</li>
                        </ul>
                        <span>
                            We are proud to be a member of the [Hospital Affiliation] and to be accredited by the
                            [Hospital Accreditation Organization]. These accreditations demonstrate our commitment to
                            providing high-quality care.
                        </span><br />
                        <span>
                            We invite you to learn more about our services and to schedule an appointment with us
                            today.
                        </span><br />
                        <h2 class="Subheading main-page-subheading">Our Team</h2>
                        <span>
                            Our team is made up of experienced and dedicated professionals who are committed to
                            providing our patients with the best possible care. Our physicians are board-certified and
                            our nurses are highly trained. Our staff is compassionate and friendly, and they are always
                            willing to go the extra mile to help our patients.
                        </span><br />
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="main-page-container">
            <div id="main-section" class="main-page-main">
                <h1>Our Prominent Doctors</h1>
                <div class="main-page-info-container">
                    <div class="info-image-container">
                        <img alt="image" src="~/resources/yusuf.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Yusuf Abdullatif</span></span>
                            <span class="info-text">
                                <span>

                                    Dr. Yusuf Abdullatif is a board-certified psychiatrist with over 15 years of
                                    experience.
                                    He is passionate about helping people achieve their mental health goals and is
                                    committed to providing his patients with the best possible care. He specializes in
                                    the diagnosis and treatment of a wide range of mental health conditions, including
                                    depression, anxiety, bipolar disorder, and schizophrenia. He also offers a variety
                                    of therapeutic modalities, such as cognitive behavioral therapy (CBT),
                                    mindfulness-based therapy,
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="contact_us.html" target="_blank" rel="noreferrer noopener">
                                        Achievements
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="info-image-container">
                        <img alt="image" src="~/resources/hakan.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>A. Hakan Yildiz</span></span>
                            <span class="info-text">
                                <span>
                                    Dr. Hakan Yildiz is a board-certified cardiologist with over 15 years of experience.
                                    He is a passionate advocate for heart health and is committed to providing his
                                    patients with the best possible care. He specializes in the prevention, diagnosis,
                                    and treatment of cardiovascular diseases, including heart disease, stroke, and high
                                    blood pressure. He also offers a variety of preventive services, such as cholesterol
                                    and blood pressure screenings, and is an expert in the management of heart
                                    medications.
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="contact_us.html" target="_blank" rel="noreferrer noopener">
                                        Achievements
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="info-image-container">
                        <img alt="image" src="~/resources/baris.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>B. Can Kara</span></span>
                            <span class="info-text">
                                <span>
                                    Dr. Can Kara is a board-certified dermatologist with over 10 years of experience.
                                    He is a passionate advocate for skin health and is committed to providing his
                                    patients with the best possible care. He specializes in the diagnosis and treatment
                                    of a wide range of skin conditions, including acne, eczema, psoriasis, rosacea, and
                                    skin cancer. He also offers a variety of cosmetic services, such as Botox
                                    injections, laser hair removal, and chemical peels.
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="contact_us.html" target="_blank" rel="noreferrer noopener">
                                        Achievements
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="info-image-container">
                        <img alt="image" src="~/resources/baran.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Baran Beytemur</span></span>
                            <span class="info-text">
                                <span>
                                    Dr. Baran Beytemur is a board-certified pediatrician with over 20 years of
                                    experience. He
                                    is a passionate advocate for children's health and is committed to providing his
                                    patients with the best possible care. He specializes in the diagnosis and treatment
                                    of a wide range of childhood illnesses and injuries, including ear infections, strep
                                    throat, asthma, and allergies. He also offers a variety of preventive services, such
                                    as immunizations and screenings, and is an expert in the management of childhood
                                    medications.
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="contact_us.html" target="_blank" rel="noreferrer noopener">
                                        Achievements
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="info-image-container">
                        <img alt="image" src="~/resources/mustafa.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Mustafa Elmali</span></span>
                            <span class="info-text">
                                <span>
                                    Dr. Mustafa Elmali is a board-certified gastroenterologist with over 10 years of
                                    experience. He is a passionate advocate for digestive health and is committed to
                                    providing his patients with the best possible care. He specializes in the diagnosis
                                    and treatment of a wide range of digestive conditions, including irritable bowel
                                    syndrome (IBS), Crohn's disease, and ulcerative colitis. He also offers a variety of
                                    endoscopic procedures, such as colonoscopies and endoscopies.
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="contact_us.html" target="_blank" rel="noreferrer noopener">
                                        Achievements
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
<div class="footer">
    <div class="footer-container">
        <div class="main-page-footer">
            <div class="footer-menu">
                <h1>Terra Europe </h1>
                <div class="footer-links-container">
                    <div class="main-page-container1">
                        <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            Health Packages
                        </a>
                        <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            Emergency Services
                        </a>
                        <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            Patient Care Excellence
                        </a>
                        <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            Wellness Programs
                        </a>
                    </div>
                    <div class="main-page-container2">
                        <a href="about_us.html" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            About Us
                        </a>
                        <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            FAQ
                        </a>
                        <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            Terms and conditions
                        </a>
                        <a href="contact_us.html" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            Contact Us
                        </a>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>