<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<style>
    .layout_top_page_container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
</style>
<body>

    <div class="main-page-container">
        <div style="width: 100%;">
            <div id="ContactLeftLayer">
                <div style="float: right">

                    <button class="button-inner-for-contact-us">
                        <span class="theme-topbar-info">
                            <a href="tel:1234567891" class="theme-topbar-info-phone">
                                <i class="fa fa-phone"></i><br />Telephone|+90 123 456 78 91
                            </a>
                        </span><br /><br />
                    </button>
                    <button class="button-inner-for-contact-us">
                        <a href="mailto:example@example.com"><br />Email Us</a><br /><br />
                    </button>
                    <button class="button-inner-for-contact-us">
                        <a href="https://maps.app.goo.gl/pXwp8vhGE8oBC7zr6"><br />Address</a><br /><br />
                    </button>
                    <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2532.4035450872243!2d28.830852867304735!3d40.99128293265346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa366eb3aaf89%3A0x9197adcb0f10f39a!2zQXZydXBhIFlha2FzxLEsIEF0YWvDtnkgNy04LTktMTAsIDM0MTU4IEJha8SxcmvDtnkvxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1700087877999!5m2!1str!2str"
                                width="470" height="470" style="border:5px;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>

            <div id="ContactRightLayer">
                <div id="contactUs">
                    <form action="post">
                        <table class="contactTable">
                            <tr>
                                <td>
                                    <h1>CONTACT US</h1>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label style="display:block;">First Name *</label>
                                    <label>
                                        <input type="text" required>
                                    </label>
                                </td>
                                <td>
                                    <label style="display:block;">Last Name *</label>
                                    <label>
                                        <input type="text" style="width:80%;" required>
                                    </label>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label style="display:block;">Email *</label>
                                    <label>
                                        <input type="email" required>
                                    </label>
                                </td>
                                <td>
                                    <label style="display:block;">Tel</label>
                                    <label>
                                        <input type="text" style="width:80%;">
                                    </label>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <label style="display:block;">Subject *</label>
                                    <label>
                                        <input type="text" style="width:90%;" required>
                                    </label>
                                </td>

                            </tr>

                            <tr>
                                <td colspan="2">
                                    <label style="display:block;">Message *</label>
                                    <label>
                                        <textarea style="width:90%;" required></textarea>
                                    </label>
                                </td>

                            </tr>

                            <tr>
                                <td colspan="2">
                                    <button class="button-inner-send" onclick="msgAlert()"> Send Message</button>
                                </td>
                            </tr>

                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>