@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="~/Content/style.css">
    <script src="script.js" defer></script>
</head>

<body>
    

    <div class="main-page-container">
        <div class="main-page-top-container">
            <nav data-role="Header" class="main-page-navbar">
                <div class="main-page-left-side">
                    <h1>Terra Europe Hospital </h1>
                </div>
                <div class="main-page-right-side">
                    <div class="main-page-links-container">

                        <span class="main-page-text"><a href="/">Home</a></span>
                        <div data-thq="thq-dropdown" class="home-thq-dropdown list-item">
                            <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-main">
                                <span class="home-text">Departments</span>
                                <div data-thq="thq-dropdown-arrow" class="home-dropdown-arrow">
                                    <svg viewBox="0 0 1024 1024" class="home-icon">
                                        <path d="M426 726v-428l214 214z"></path>
                                    </svg>
                                </div>
                            </div>
                            <ul data-thq="thq-dropdown-list" class="home-dropdown-list">
                                <li data-thq="thq-dropdown" class="home-dropdown list-item">
                                    <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-option">
                                        <span class="home-text">Cardiology</span>
                                    </div>
                                </li>
                                <li data-thq="thq-dropdown" class="home-dropdown list-item">
                                    <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-option">
                                        <span class="home-text">Orthopedics</span>
                                    </div>
                                </li>
                                <li data-thq="thq-dropdown" class="home-dropdown list-item">
                                    <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-option">
                                        <span class="home-text">Obstetrics and Gynecology</span>
                                    </div>
                                </li>
                                <li data-thq="thq-dropdown" class="home-dropdown list-item">
                                    <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-option">
                                        <span class="home-text">Dermatology</span>
                                    </div>
                                </li>
                                <li data-thq="thq-dropdown" class="home-dropdown list-item">
                                    <div data-thq="thq-dropdown-toggle" class="home-dropdown-toggle-option">
                                        <span class="home-text">Neurology</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <span class="main-page-text"> <a href="/Home/About">About Us</a></span>
                        <span class="main-page-text"> <a href="/Home/Contact">Contact Us</a></span>
                    </div>
                    <div class="button-container ">
                        <button class="button-inner">
                            <span>Sign up</span>
                        </button>
                    </div>
                    <div class="button-container ">
                        <button class="button-inner">
                            <span>Sign in</span>
                        </button>
                    </div>
                </div>

            </nav>
            <div class="main-page-middle">
                <div class="main-page-text-container">
                    <h1 class="Heading main-page-text08">Book an appointment</h1>
                    <h2 class="Subheading main-page-subheading"> For all your needs</h2>
                    <span class="main-page-text">
                        <span>Experience exceptional healthcare at Terra Europe, </span>
                        <br /><span>where expert care meets advanced technology. Our team-</span><br />
                        <span>is dedicated to your well-being, offering personalized services-</span><br />
                        <span> and cutting edge treatments.</span>
                    </span>
                    <div class="button-container">
                        <button class="button-inner"><a href="/Home/About">Book Appointment</a> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div class="main-page-container">
            <div id="main-section" class="main-page-main">
                <h1>Our Locations</h1>
                <div class="main-page-info-container">
                    <div class="info-image-container">
                        <img alt="image" src="~/resources/eskisehir.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Eskisehir</span></span>
                            <span class="info-text">
                                <span>
                                    Eskisehir Terra Europe Hospital is a 500-bed hospital
                                </span>
                            </span>
                            <div class="info-box-container">

                                <button class="info-box-button Button">
                                    <a href="/Home/Contact" target="_blank" rel="noreferrer noopener">
                                        Show On Map
                                    </a>
                                </button>

                            </div>
                        </div>
                    </div>

                    <div class="info-image-container">
                        <img alt="image" src="~/resources/sakura.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Istanbul</span></span>
                            <span class="info-text">
                                <span>
                                    Malatya Terra Europe Hospital is a 200-bed hospital
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="/Home/Contact" target="_blank" rel="noreferrer noopener">
                                        Show On Map
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="info-image-container">
                        <img alt="image" src="~/resources/sivas.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Sivas</span></span>
                            <span class="info-text">
                                <span>
                                    Sivas Terra Europe Hospital is a 400-bed hospital
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="/Home/Contact" target="_blank" rel="noreferrer noopener">
                                        Show On Map
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="info-image-container">
                        <img alt="image" src="~/resources/kabul.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Kabul</span></span>
                            <span class="info-text">
                                <span>
                                    Kabul Terra Europe Hospital is a 300-bed hospital
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="/Home/Contact" target="_blank" rel="noreferrer noopener">
                                        Show On Map
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="info-image-container">
                        <img alt="image" src="~/resources/malatya.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Malatya</span></span>
                            <span class="info-text">
                                <span>
                                    Malatya Terra Europe Hospital is a 200-bed hospital
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="/Home/Contact" target="_blank" rel="noreferrer noopener">
                                        Show On Map
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="info-image-container">
                        <img alt="image" src="~/resources/kocaeli.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Kocaeli</span></span>
                            <span class="info-text">
                                <span>
                                    Malatya Terra Europe Hospital is a 200-bed hospital
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="/Home/Contact" target="_blank" rel="noreferrer noopener">
                                        Show On Map
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="info-image-container">
                        <img alt="image" src="~/resources/manisa.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Manisa</span></span>
                            <span class="info-text">
                                <span>
                                    Manisa Terra Europe Hospital is a 100-bed hospital
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="/Home/Contact" target="_blank" rel="noreferrer noopener">
                                        Show On Map
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<div class="footer">
    <div class="footer-container">
        <div class="main-page-footer">
            <div class="footer-menu">
                <h1>Terra Europe </h1>
                <div class="footer-links-container">
                    <div class="main-page-container1">
                        <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            Health Packages
                        </a>
                        <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            Emergency Services
                        </a>
                        <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            Patient Care Excellence
                        </a>
                        <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            Wellness Programs
                        </a>
                    </div>
                    <div class="main-page-container2">
                        <a href="/Home/About" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            About Us
                        </a>
                        <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            FAQ
                        </a>
                        <a href="https://example.com" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            Terms and conditions
                        </a>
                        <a href="/Home/Contact" target="_blank" rel="noreferrer noopener"
                           class="main-page-link01">
                            Contact Us
                        </a>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>