
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="~/Content/style.css">
    <script src="script.js" defer></script>
</head>
<style>
    .layout_top_page_container {
        width: 100%;
        height: 1000px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-size: cover;
        background-image: url("../../FrontEnd/resources/main_page_background.jpg");
        background-position: 0 40%;
    }
</style>
<body>

    <div class="main-page-container">
        <div class="main-page-middle">
            <div class="main-page-text-container">
                <h1 class="Heading main-page-text08">Book an appointment</h1>
                <h2 class="Subheading main-page-subheading"> For all your needs</h2>
                <span class="main-page-text">
                    <span>Experience exceptional healthcare at Terra Europe, </span>
                    <br /><span>where expert care meets advanced technology. Our team-</span><br />
                    <span>is dedicated to your well-being, offering personalized services-</span><br />
                    <span> and cutting edge treatments.</span>
                </span>
                <div class="button-container">
                    <button class="button-inner"><a href="/Home/About">Book Appointment</a> </button>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div class="main-page-container">
            <div id="main-section" class="main-page-main">
                <h1>Our Locations</h1>
                <div class="main-page-info-container">
                    <div class="info-image-container">
                        <img alt="image" src="~/resources/eskisehir.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Eskisehir</span></span>
                            <span class="info-text">
                                <span>
                                    Eskisehir Terra Europe Hospital is a 500-bed hospital
                                </span>
                            </span>
                            <div class="info-box-container">

                                <button class="info-box-button Button">
                                    <a href="/Home/Contact" target="_blank" rel="noreferrer noopener">
                                        Show On Map
                                    </a>
                                </button>

                            </div>
                        </div>
                    </div>

                    <div class="info-image-container">
                        <img alt="image" src="~/resources/sakura.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Istanbul</span></span>
                            <span class="info-text">
                                <span>
                                    Malatya Terra Europe Hospital is a 200-bed hospital
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="/Home/Contact" target="_blank" rel="noreferrer noopener">
                                        Show On Map
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="info-image-container">
                        <img alt="image" src="~/resources/sivas.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Sivas</span></span>
                            <span class="info-text">
                                <span>
                                    Sivas Terra Europe Hospital is a 400-bed hospital
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="/Home/Contact" target="_blank" rel="noreferrer noopener">
                                        Show On Map
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="info-image-container">
                        <img alt="image" src="~/resources/kabul.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Kabul</span></span>
                            <span class="info-text">
                                <span>
                                    Kabul Terra Europe Hospital is a 300-bed hospital
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="/Home/Contact" target="_blank" rel="noreferrer noopener">
                                        Show On Map
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="info-image-container">
                        <img alt="image" src="~/resources/malatya.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Malatya</span></span>
                            <span class="info-text">
                                <span>
                                    Malatya Terra Europe Hospital is a 200-bed hospital
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="/Home/Contact" target="_blank" rel="noreferrer noopener">
                                        Show On Map
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="info-image-container">
                        <img alt="image" src="~/resources/kocaeli.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Kocaeli</span></span>
                            <span class="info-text">
                                <span>
                                    Malatya Terra Europe Hospital is a 200-bed hospital
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="/Home/Contact" target="_blank" rel="noreferrer noopener">
                                        Show On Map
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="info-image-container">
                        <img alt="image" src="~/resources/manisa.jpg" class="info-image" />
                        <div class="info-text-container">
                            <span class="info-title"><span>Manisa</span></span>
                            <span class="info-text">
                                <span>
                                    Manisa Terra Europe Hospital is a 100-bed hospital
                                </span>
                            </span>
                            <div class="info-box-container">
                                <button class="info-box-button Button">
                                    <a href="/Home/Contact" target="_blank" rel="noreferrer noopener">
                                        Show On Map
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>