<html>
<head>
    <title>Credit Card Registration</title>
</head>
<body>

    <div>
        <h1>Would you like to have a credit card?</h1>
         @Html.ActionLink("Application Form","Form")
    </div>
</body>


</html>