<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/Content/style.css">
    <script src="script.js" defer></script>
    <style>
        .layout_top_page_container {
            width: 100%;
            height: 1000px;
            display: flex;
            align-items: center;
            flex-direction: column;  
            background-size: cover;
            background-image: url("/resources/MainPageBackground.jpg");
            background-position: 0 40%;
        }

        #map {
            margin-top: 20px;
            margin-right: 310px;
            height: 476px;
            width: 476px;
            border: solid 3px black;
        }

        .main-page-container {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        /*    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12516.013996035717!2d38.262612819671624!3d38.34890105967506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x407636dd9202e059%3A0xb381264262ca5d27!2sMalatya%20E%C4%9Fitim%20ve%20Ara%C5%9Ft%C4%B1rma%20Hastanesi!5e0!3m2!1str!2str!4v1703721412598!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" > </iframe >*/
    </style>
</head>

<body>
    <div>
        <div class="main-page-container">
            <div class="hospital-left">123</div>
            <div class="hospital-right">asd</div>
        </div>
    </div>
</body>