@model dynamic
<div id="oldApplication" style="display:none">

</div>
<form id="departmentForm">
    <select id="departmentSelect" onchange="getDoctors()">
        <option value="">Select a department</option>
        <option value="Neurology">Neurology</option>
        <option value="Cardiology">Cardiology</option>
        <option value="Oncology">Oncology</option>
        <option value="Gynecology">Gynecology</option>
        <option value="Pediatrics">Pediatrics</option>
        <option value="Orthopedics">Orthopedics</option>
        <option value="Dermatology">Dermatology</option>
    </select>
    <input type="hidden" id="Department" name="Department" value="" />
</form>

<form id="doctorForm" style="display: none;">
    <select id="doctorSelect" onclick="getBusyDates()">
        <option value="">Select a Doctor</option>
    </select>
    <input type="hidden" id="Doctor" name="Doctor" value="" />
</form>

<form id="dateForm" style="display: none">
    <select id="dateSelect" onclick="getAllDetails()" onselect="getDoctorById();">
    </select>
    <input type="hidden" id="Date" name="Date" value="" />
</form>

<div id="showDetails" style="display: none">
</div>

<button id="ConfirmButton" onclick="ConfirmApplication()" style="display: none">Confirm</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    /*
            [HttpGet]
        public JsonResult setApp(int doctorId, DateTime date)
        {
            var appointment = new appointment();
            appointment.doctorID = doctorId;
            appointment.date = date;
            appointment.patientID = db.Patients.Where(x => x.email == User.Identity.Name).FirstOrDefault().patientID;
            db.Appointments.Add(appointment);
            db.SaveChanges();
            return Json(appointment, JsonRequestBehavior.AllowGet);
        }
    */
    function ConfirmApplication() {
        var department = $('#departmentSelect').val();
        var date = $('#dateSelect option:selected').val();
        var doctorid = $('#doctorSelect').val();
        var doctor = $('#doctorSelect option:selected').text();
        if ( doctorid != -1) {
            model.thisappointment.doctorID = doctorid;
            model.thisappointment.date = date;
            model.thisappointment.patientID = 123;
            $.ajax({
                url: '@Url.Action("Create", "appointment")',
                type: 'GET',
                data: { appointment:model.thisappointment },
                success: function (data) {
                    $('#oldApplication').html("You have successfully applied for an appointment with " + doctor + " on " + date);
                    $('#oldApplication').show();

                    $('#doctorForm').hide();
                    $('#dateForm').hide();
                    $('#ConfirmButton').hide();
                    $('#showDetails').hide();
                }
            });
        }

    }

    function getAllDetails() {
        var department = $('#departmentSelect').val();
        var date = $('#dateSelect option:selected').text();
        var doctorid = $('#doctorSelect').val();
        var doctor = $('#doctorSelect option:selected').text();
        if (department && date && doctorid != -1) {
            document.getElementById("showDetails").innerHTML = "You have selected <br> Department: " + department + "<br> Doctor: " + doctor + "<br> Date: " + date;
            $('#ConfirmButton').show();
            $('#showDetails').show();
        }
        else {
            $('#showDetails').hide();
        }


    }
    function getBusyDates() {
        var doctorId = $('#doctorSelect').val();
        if (doctorId) {
            $.ajax({
                url: '@Url.Action("GetNotBusyDates", "Home")',
                type: 'GET',
                data: { doctorId: doctorId },
                success: function (data) {
                    $('#dateSelect').empty();
                    $.each(data, function (i, item) {
                        $('#dateSelect').append($('<option>', {
                            //item is dateTime
                            value: item.Value,
                            text: item.Text
                        }));
                    });
                    $('#dateForm').show();
                }
            });
        } else {
            $('#dateForm').hide();
        }
    }
    function getDoctors() {
        var departmentId = $('#departmentSelect').val();
        if (departmentId) {
            $.ajax({
                url: '@Url.Action("GetDoctors", "Home")',
                type: 'GET',
                data: { departmentId: departmentId },
                success: function (data) {
                    $('#doctorSelect').empty();
                    $('#doctorSelect').append($('<option>', {
                        value: -1,
                        text: "Select a Doctor"
                    }));
                    $.each(data, function (i, item) {
                        $('#doctorSelect').append($('<option>', {
                            value: item.Value,
                            text : item.Text
                        }));
                    });
                    $('#doctorForm').show();
                }
            });
        } else {
            $('#doctorForm').hide();
        }
    }
</script>
