@Model dynamic
@{
    ViewBag.Title = "Manage";
}
<style>
    .layout_top_page_container {
        width: 100%;
        height: 1000px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-size: cover;
        background-image: url("../../resources/main_page_background.jpg");
        background-position: 0 40%;
    }
</style>
<body>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        @if (Model.doctor != null)
        {
            <h3>You are a Doctor!</h3>
        }
        @if (Model.patient != null)
        {
            <h3>You are a Patient!</h3>
        }


        <dl class="dl-horizontal">
            <div style="display: flex; flex-direction: row; align-items: center; ">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.account.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center; ">
                <dt>External Logins:</dt>
                <dd>
                    @Model.account.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>
            </div>
        </dl>
    </div>

</body>